[data-rmiz-modal-overlay="visible"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.data-rmiz-modal-content img {
    max-width: 300px !important;
    max-height: 300px !important;
}

.bgUserConnected {
    background-color: #bad3fb !important;
    /* background-color: #edf2fa; */
}

.bgUserDisConnected {
    background-color: #f7f7f7 !important;
}

.bgUserDisConnected .header-bottom {
    /* border-bottom: 1px solid #214293 !important; */
    background-color: #fff !important;
    color: #214293 !important;
}

.bgUserConnected .header-bottom {
    /* border-bottom: 1px solid #214293 !important; */
    background-color: #fff !important;
    color: #214293 !important;
}
/* 
.not-connected
    .container
    .inner-wrap
    .header-left
    .main-nav
    .menu
    li
    .a.active {
    color: rgb(255, 243, 2) !important;
    opacity: 1 !important;
} */

.product-wrap {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.product-details {
    background-color: #edf2fa !important;
    padding: 5px !important;
}

.product-wrap {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-media {
    transition: transform 0.3s ease; /* Transition douce pour l'effet de zoom */
}

.product-wrap:hover {
    transform: scale(1.1); /* Agrandir l'image à 110% lors du survol */
}

.product-card:hover ~ .product-card {
    opacity: 0.5;
}

.product-card:has(~ .product-card:hover) {
    opacity: 0.5;
}

.sectionTitle {
    background-color: #3656a1;
    padding: 10px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
}

.fs_header_1_4rem {
    font-size: 1.4rem;
}

@media (min-width: 992px) {
    .row .main-content {
        max-width: 100% !important;
    }
}

/* Header */

.cart-dropdown .cart-count {
    position: absolute;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    font-style: normal;
    z-index: 1;
    right: -8px;
    top: -5px;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    background: #fff700 !important;
    color: #3656a1 !important;
    text-align: center;
}

/*  */

.product-single .quantity,
.product-single .btn-cart,
.product-single .btn-product-icon,
.cart .form-control {
    border-radius: 12px;
    border-style: Solid;
    border-color: #3656a1;
    border-color: rgba(54, 86, 161, 1);
    border-width: 2px;
    opacity: 0.6;
}

.input-group .form-control {
    font-size: 2.3rem !important;
    padding: 0 1.4rem 0 1.8rem;
    color: var(--snproveci-blue-2);
    opacity: 1;
}

.quantity-minus,
.w-icon-plus {
    border-style: Solid !important;
    border-color: #3656a1 !important;
    border-color: rgba(54, 86, 161, 1) !important;
    border-width: 3px !important;
    margin-left: 15px !important;
}

.input-group button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.5rem;
    padding: 0;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50%;
    background-color: #fff;
    color: var(--snproveci-blue-2);
    font-size: 1.4rem;
    border: none;
}

.p-5 {
    padding: 20px !important;
}

.mx-2 {
    margin: 10px !important;
}

.bg-blue-light {
    background-color: #dfe9fb !important;
}

/* Stylisation du container card-header */
.card-header {
    padding: 1rem 2.7rem;
}

/* Stylisation des boutons radio */
.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: var(--snproveci-blue-2); /* Change la couleur */
}

/* Stylisation du label des boutons radio */
.form-check-label {
    font-size: 1.4rem;
    color: var(--snproveci-blue-2);
    font-weight: 400;
}

.product-qty-form-updated {
    flex: 0 0 18rem !important;
    max-width: 18rem !important;
}

.input-field {
    padding-right: 30px; /* Ajustez la valeur selon la taille du SVG */
    margin-bottom: 0px !important;
}

.password-icon {
    position: absolute;
    right: 10px; /* Ajustez la valeur selon vos besoins */
    top: 50%;
    transform: translateY(
        -50%
    ); /* Pour éviter que le SVG ne bloque les clics sur l'input */
    cursor: pointer;
}

.height-updated {
    height: 4rem !important;
    margin-bottom: 20px !important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 20px;
}

.max-width-164 {
    max-width: 164px !important;
}

.color-white-font {
    color: white !important;
    font-weight: 700 !important;
}

.product-wrap-max-w {
    max-width: 225px !important;
}

.item-hover:hover {
    cursor: pointer !important;
}

.remove-top-and-bottom-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: 0 !important;
}

.p {
    padding: 1.2rem !important;
    margin: 0 !important;
}

.parent {
    display: flex;
    justify-content: space-between;
    width: 320px;
    border: 2px solid #3656a1;
    border-radius: 10px;
    padding: 0.4em;
}
.box-button {
    display: flex;
    justify-content: space-between;
}

.box-button button {
    border: 2px solid #3656a1;
    color: #3656a1;
    padding: 0.4em;
    border-radius: 99%;
    background: transparent;
}

.responsive-encours {
    max-width: 600px;
}

@media screen and (max-width: 1070px) {
    .responsive-encours {
        order: 9;
        flex: "1 0 100%";
        margin-top: 20px;
        max-width: none;
    }
}

@media screen and (max-width: 575px) {
    .absolute-btn {
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 575px) {
    .header-left {
        margin: 0 auto !important;
    }
    .header-middle .header-left {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
.product-card {
    width: 255px !important;
}

@media screen and (max-width: 1028px) {
    .product-card {
        width: 180px !important;
    }
}
